@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

svg {
  width: 20px;
}

.cardinf {
display: flex;
justify-content: end;
}

.back {
  
  width: 30vw;
  height: 100vh;
  background-color: #1e213a;
}

.backSeach {
  width: 30vw;
  height: 100vh;
  background-color: #1e213a;
  position: absolute;
  z-index: 50;
}

.bgFundo{
  display: flex;
}

.nuvens {
  object-fit: cover;
  opacity: 0.1;
  width: 30vw;
}

.tempo {
  position: absolute;
  object-fit: contain;
  left: 18%;
  transform: translateX(-75%);
  top: 20%;
}

.locationcity {
  width: 60px;
}

.fechar button {
  background-color: transparent;
  color: white;
  font-size: 25px;
  border: none;
  width: 30px;
  height: 30px;
}

.buscaBlo {
  margin: 15px;
}

.block {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.block  p{
  margin: 0px 10px;
}

.active {
  border: 1px solid gray;
}

.bSeach {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-size: 17px;
  height: 50px;
}

.buscainput{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

.buscainput div{
  border:1px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 50px;
}

.buscainput input{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
}

.buscainput svg{
  color: #a09fb1;
}

.buscainput button{
  width: 100px;
  height: 50px;
  background-color: rgb(68, 53, 202);
  color:white;
  font-size: 20px;
  border:none;
}

.buscainput button:active{
  background-color: white;
  color: rgb(68, 53, 202);
}

.buscaLoc {
  background-color: gray;
  border: 1px solid white;
  width: 150px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.barra {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}

.infoCity {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
}

.infoCity h1 {
  color: #e7e7eb;
  font-size: 90px;
}

.infoCity h2 {
  color: #a09fb1;
  font-size: 40px;
}

.infoLo {
  margin-bottom: 10px;
}

h1 {
  font-size: 80px;
}

#cConteudo{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  margin-right: 0;
}

#cConteudo div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#cConteudo img{
  object-fit: contain;
}

p {
  color: #a09fb1;
}

.imgLoc {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.card div {
  display: flex
}

.arrowBg {
  align-content: center;
  justify-content: center;
  background-color: gray;
  border-radius: 25px;
  width: 25px;
  height: 25px;
}

.dadosLateral {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dadosLateral h3 {
  font-size: 36px;
  color: #a09fb1;
  margin-bottom: 30px;
}

.dadosLateral p {
  color: #a09fb1;
  font-size: 20px;
}

.card div {
  margin-right: 15px;
}

.card {
  background-color: #100e1d;
  width: 70vw;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
  padding-left: 60px;
}
.cards {
  background-color: #1e213a;
  width: 8vw;
  height: 160px;
  padding-left: 15px;
}

.cardinf {
  background-color: #100e1d;
  width: 70vw;
  height: 5vh;
  display: flex;
}

.cardsinf {
  background-color: #1e213a;
  width: 30%;
  height: 170px;
  margin-top: 25px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardsinfBG {
  width: 70vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  background-color: #100e1d;
}

.tTemp {
  font-size: 14px;
  padding-left: 5px;
}

.arrow {
  width: 15px;
}

.tituloHight {
  padding-top: 20px;
  font-size: 16px;
}

.cardsinf h3 {
  color: #e7e7eb;
  font-size: 64px;
}

.cardsinf div {
  color: #e7e7eb;
  display: flex;
  align-items: flex-end;
  font-size: 34px;
  padding-bottom: 3%;
}

.arrowBg svg {
  height: 15px;
  width: 20px;
  padding-right: 2px;
  padding-top: 3px;

}

h2 {
  width: 80%;
  color: white;
}

.fBranc{
  
  height: 100%;
}

#fAmarelo{
  background-color: #fffd83;
  height: 1px;
}

#porcentagem {
  display: block;
  width: 70%;
  height: 30px;
}

#porcentagemMedida {
  justify-content: space-between;
  font-size: 10px;
}

#porcentagemBarra {
  width:100%;
  height: 2px;
  background-color: #e7e7eb;
  border-radius: 25px;
  
}

.porcentagemSimbolo{
  justify-content:end
}

.porcentagemSimbolo p{
  font-size: 10px;
}

@media screen and (max-width: 430px) {
  .backSeach {
  
    width: 100vw;
    height: 100vh;
    background-color: #1e213a;
    position: fixed;
    z-index: 50;
  }

  #porcentagemBarra {
    width:100%;
    height: 1px;
    background-color: #e7e7eb;
    border-radius: 25px;
    
  }

  .back {
    background-color: #1e213a;
    height: 100vh;
    width: 100vw;
  }
  

  .bgFundo{
    display: block;
  }

  .imgLoc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: gray;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  }

  .nuvens {
    object-fit: cover;
    opacity: 0.1;
    width: 100vw;
  }

  .tempo {
    position: absolute;
    object-fit: contain;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
  }

  .arrowBg {
    align-content: center;
    justify-content: center;
    background-color: gray;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    padding-top: 20px;
  }

  .arrowBg svg {
    height: 15px;
    width: 20px;
  }

  .nuvens {
    object-fit: cover;
    opacity: 0.1;
    width: 100vw;
  }

  .back {
    width: 100vw;
    height: 120vh;
    background-color: #1e213a;
  }

  .dadosLateral {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .dadosLateral h3 {
    font-size: 36px;
    color: #a09fb1;
    margin-bottom: 30px;
  }

  .dadosLateral p {
    color: #a09fb1;
    font-size: 20px;
  }

  .card {
    background-color: #100e1d;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-left: 30px;
  }

  .card div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .cards {
    background-color: #1e213a;
    width: 30vw;
    height: 177px;
  }

  .cardinf {
    background-color: #100e1d;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cardsinf {
    background-color: #1e213a;
    width: 80%;
    height: 204px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }

  .cardconteudo {
    width: 30vw;
    height: 100%;
    display: block;
  }

  .cardsinf h3 {
    color: #e7e7eb;
    font-size: 64px;
  }

  .cardsinf div {
    color: #e7e7eb;
    display: flex;
    align-items: flex-end;
    font-size: 34px;
  }

  .tituloHight {
    padding-top: 20px;
    font-size: 16px;
  }

  .arrow {
    width: 15px;
  }

  .tTemp {
    font-size: 14px;
    padding-left: 5px;
  }

  .cardsinfBG {
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #100e1d;
  }
  
}
