* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.back {
  background-color: #1e213a;
  height: 100vh;
}

.location {
  width: 30px;
}

.fechar button {
  background-color: transparent;
  color: white;
  font-size: 25px;
  border: none;
  width: 30px;
  height: 30px;
}

.buscaBlo {
  display: none;
  margin: 15px;
}

.block {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.active {
  border: 1px solid gray;
}

.bSeach {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-size: 17px;
  height: 50px;
}

.buscaLoc {
  background-color: gray;
  border: 1px solid white;
  width: 150px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.barra {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}

.imgLoc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: gray;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.nuvens {
  object-fit: cover;
  opacity: 0.1;
  width: 100vw;
}

.tempo {
  position: absolute;
  object-fit: contain;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
}

.infoCity{
  margin-bottom: 20px;
}

.infoLo{
  margin-bottom: 10px;
}

h1{
  font-size: 80px;
}

@media screen and (max-width: 430px) {
  .back {
    width: 100vw;
    height: 115vh;
  }

  .dadosLateral {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card {
    background-color: #100E1D;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 35px;
  }

  .card div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 25px;


  }

  .cards {
    background-color: #1E213A;
    width: 120px;
    height: 177px;
  }
}
